<img class="banner" src="/static/wav.gif" alt="" style="text-align:center;"  postion="relative" width="100%;" height="120;" padding="0;" margin="0;" >

<body bgcolor="#E8E8E8">


<style>
h1 {color:#151A26;text-align:center;font-size:35px;font-family:Helvetica;}
h2 {color:#151A26;text-align:center;font-size:25px;font-family:Helvetica;}
h3 {color:#E98A31;text-align:center;font-size:23px;font-family:Helvetica;}
h4 {color:#262626;text-align:center;font-size:18px;font-family:Helvetica;}
p {color:#262626;text-align:center;font-size:15px;font-family:Helvetica;}
</style>

<div align="center">

<div style="text-align:center;">

<h3>Hey {{ name }}! </h3>

<button onclick="goBack()" style="text-align:center;">Go Back</button>
<button onclick="window.location.href='/'" style="text-align:center;">Go Home</button>

<script>
function goBack() {
    window.history.back();
}
</script>
<br>
<h4>Here are the statistics for your SoundCloud, <i>{{ sc }}</i> </h3>

    {% for x in followers %}

		<p>{{ x }}<br></br></p>

    {% endfor %}

	{% if 'more' in moreorless %}
		<h3> CONGRATS, you have over 100 followers!</h3>
    {% endif %}
	
	{% if 'less' in moreorless %}
		<h3> Sorry, you have under 100 followers</h3>

    {% endif %}

<br>

<h4>Here are the links to songs we found on your profile </h3>

<ul>
    {% for r in songlinks %}

		<p>Click this <a href="{{ r }}">link</a> to play a unique song from this Soundcloud Account! <br></br></p>

    {% endfor %}


</ul>
